-- DropForeignKey
ALTER TABLE `quizzes` DROP FOREIGN KEY `quizzes_product_id_fkey`;

-- AlterTable
ALTER TABLE `users` MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `products` MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `topics` MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `qna` MODIFY `company_tags` longtext NULL,
    MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `quizzes` DROP COLUMN `product_id`,
    ADD COLUMN `topic_id` VARCHAR(191) NOT NULL,
    MODIFY `options` longtext NOT NULL,
    MODIFY `company_tags` longtext NULL,
    MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `pdfs` MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- AlterTable
ALTER TABLE `progress` MODIFY `updated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3);

-- CreateIndex
CREATE INDEX `user_products_product_id_fkey` ON `user_products`(`product_id` ASC);

-- CreateIndex
CREATE INDEX `idx_refresh_tokens_user_id` ON `refresh_tokens`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `password_reset_tokens_user_id_fkey` ON `password_reset_tokens`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `idx_topics_product_id` ON `topics`(`product_id` ASC);

-- CreateIndex
CREATE INDEX `quizzes_topic_id_idx` ON `quizzes`(`topic_id` ASC);

-- CreateIndex
CREATE INDEX `idx_bookmarks_pdf_id` ON `bookmarks`(`pdf_id` ASC);

-- CreateIndex
CREATE INDEX `idx_bookmarks_qna_id` ON `bookmarks`(`qna_id` ASC);

-- CreateIndex
CREATE INDEX `idx_bookmarks_user_id` ON `bookmarks`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `idx_progress_topic_id` ON `progress`(`topic_id` ASC);

-- CreateIndex
CREATE INDEX `idx_progress_user_id` ON `progress`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `idx_quiz_attempts_quiz_id` ON `quiz_attempts`(`quiz_id` ASC);

-- CreateIndex
CREATE INDEX `idx_quiz_attempts_user_id` ON `quiz_attempts`(`user_id` ASC);

-- AddForeignKey
ALTER TABLE `quizzes` ADD CONSTRAINT `quizzes_topic_id_fkey` FOREIGN KEY (`topic_id`) REFERENCES `topics`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

